/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.md-sidenav-content {
  width: 100%;
  background-color: #e6e6e6;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-filter {
  color: #20cf7d;
  font-weight: bold;
}

.rating-color {
  color: #faa000;
}

.my-card {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  // width: 240px;
  width: 100%;
  // margin: 12px;

  img {
    width: 100%;
  }

  .my-card-content {
    background-color: rgb(247, 247, 247);
    border-top: solid 1px rgb(229, 229, 229);
    padding: 22px;
  }

  .product-name {
    font-size: 1.2em;
  }
  .product-price {
    font-size: 1.2em;
    font-weight: 600;
    color: #20cf7d;
  }
  .product-type {
    color: #a2a2a2;
    font-size: .8em;
  }
  .product-rating {
    padding-top: 11px;
  }
}

.my-stats {
    box-sizing: border-box;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    color: #777; 
    font-size: .8em; 
    padding: .5%;
}

input[type=text], textarea {
  transition: all 0.20s ease-in-out;
  border: 1px solid rgb(238, 238, 238);
}
 
input[type=text]:focus, textarea:focus {
  outline: none !important;
  border:1px solid #20cf7d;
  box-shadow: 0 0 10px #20cf7d;
}


/* facet-colors */
.facet-color {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  margin: 0 6px 6px;
  display: block;
  overflow: hidden;
  float: left;
}

.selected-color-filter {
  position: relative;

  .facet-color {
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5);
  }
}

.facet-val {
  color: #888;
}

.facet-color.checked {
  box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5);
}
.facet-color[data-facet-value="White"] {
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 1px #CCC; }
  .facet-color[data-facet-value="White"].checked {
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1); }
.facet-color[data-facet-value="Black"] {
  background-color: #000000; }
.facet-color[data-facet-value="Black-brown"] {
  background-color: #382919; }
.facet-color[data-facet-value="Pink"] {
  background-color: #C0116D; }
.facet-color[data-facet-value="Gray"] {
  background-color: #6F6E6C; }
.facet-color[data-facet-value="Blue"] {
  background-color: #5182A1; }
.facet-color[data-facet-value="Green"] {
  background-color: #1E9C5E; }
.facet-color[data-facet-value="Brown"] {
  background-color: #7B6A63; }
.facet-color[data-facet-value="Red"] {
  background-color: #BC1C1A; }
.facet-color[data-facet-value="Dark gray"] {
  background-color: #444348; }
.facet-color[data-facet-value="Silver color"] {
  background-color: #AAAAA8; }
.facet-color[data-facet-value="Light brown"] {
  background-color: #C19A6E; }
.facet-color[data-facet-value="Black-brown stain"] {
  background-color: #4B4640; }
.facet-color[data-facet-value="Off-white"] {
  background-color: #D0C8B4; }
.facet-color[data-facet-value="Beige"] {
  background-color: #C9B8A3; }
.facet-color[data-facet-value="Light green"] {
  background-color: #ABBD9B; }
.facet-color[data-facet-value="White stain"] {
  background-color: #E4E1DC; }
.facet-color[data-facet-value="Turquoise"] {
  background-color: #46BCC9; }
.facet-color[data-facet-value="Birch effect"] {
  background-color: #CBBFA4; }
.facet-color[data-facet-value="Yellow"] {
  background-color: #F5E500; }
.facet-color[data-facet-value="Dark blue"] {
  background-color: #374063; }
.facet-color[data-facet-value="Galvanized"] {
  background-color: #726F6A; }
.facet-color[data-facet-value="Birch"] {
  background-color: #726F6A; }
.facet-color[data-facet-value="Dark brown"] {
  background-color: #74523E; }
.facet-color[data-facet-value="High gloss gray"] {
  background-color: #E5E5E5; }
.facet-color[data-facet-value="Gray/white"] {
  background-color: #E5E5E5; }
.facet-color[data-facet-value="Red/white"] {
  background-color: #FA757B; }
.facet-color[data-facet-value="Clear"] {
  background-color: #D5DAE0; }
.facet-color[data-facet-value="Matte black"] {
  background-color: #616872; }
.facet-color[data-facet-value="Matte white"] {
  background-color: #DCDBD7; }
.facet-color[data-facet-value="White stained oak effect"] {
  background-color: #E7E8E0; }